.banner {
  background: rgba(0, 0, 0, 0.7)
    url("https://i.ibb.co/PrbkhkS/nathan-dumlao-5-BB-at-DT4o-A-unsplash.jpg");
  height: 80vh;
  background-size: cover;
  background-blend-mode: normal;
  border-radius: 4px;
}
