.form-group {
  width: 500px;
  margin: 50px auto;
  border: 2px solid rgb(221, 217, 217);
  padding: 25px 30px;
}
.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(134, 132, 132);
  padding: 8px 10px;
  margin-top: 15px;
  border-radius: 2px;
  background: #e9e7e7;
}
.form-group input ::placeholder {
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 576px) {
  .form-group {
    width: 100%;
  }
}
